<%= form_with(model: @category, data: { turbo: false }) do |form| %>

<%= render 'share/errors', resource: @category %>

  <p>
    <%= form.label 'Введите название категории: ' %>
    <%= form.text_field :title %>
  </p>
  <p><%= form.submit %></p>
  <p><%= link_to 'Назад', categories_path %></p>
<% end %>