<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <div class="navigation">
      <a href="/welcome" class="emblem">TEST-GURU</a>
      <!-- <button onclick="window.location.href='/users'">Пользователи</button> --> #на ремонте
      <button onclick="window.location.href='/categories'">Категории</button>
      <button onclick="window.location.href='/tests'">Тесты</button>
    </div>
      <% if user_signed_in? %>
        <p class="auth-navigation">За работу шеф <%= current_user.name %> |
        <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
      <% else %>
        <p>user_signed_in - <%= user_signed_in? %></p>
      <% end %>

    <%#= flash_message %>
  </head>

  <body>
    <%= render 'share/flash' %>
    <%= yield %>

    <footer>
        <%= render 'share/footer' %>
    </footer>
  </body>


</html>
