<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <div class="navigation">
        <button onclick="window.location.href='/users'">Пользователи</button>
        <button onclick="window.location.href='/categories'">Категории</button>
        <button onclick="window.location.href='/tests'">Тесты</button>
    </div>
  </head>

  <body>

    <% if logged_in? %>
      <p class="nav user"> Добро пожаловать шеф <b><%= current_user.name %></b></p>
      <%= button_to 'Выйти', logout_path, method: :delete%>
    <% end %>

    <%= yield %>

    <footer>
        <%= render 'share/footer' %>
    </footer>
  </body>


</html>
